# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
*.egg
*.whl

# Flask
instance/
.env
/frontend/public/brawler_images/
.idea/
backend/src/best_transformer_model.pth
/backend/src/config.ini
/backend/src/filter.py
/backend/src/out/
/frontend/frontend_config.ini
